extends layout

block content
  div(ng-controller="Controller")
    .row
      .col-md-4
        .input-group
          input.form-control(type='text', ng-model="cityName",placeholder="City Name")
          span.input-group-btn
            button.btn.btn-default(type='button',ng-click="getData()") Go!

    div.row()
      
      div.col-md-4
        hr    
        div.alert.alert-success 
         label Current City: 
         label#currentCity
    div.row(ng-init="getCurrentCityWeather()")
      
      div(class="col-md-4")
        hr 
        p Weather Information Details for 14 Days:
        p {{msg}}
        hr
        .table-responsive(ng-init="List")
          table.table.table-striped
            thead
              tr
                th Coluds
                th Humidity
                th Main
                th Description
            tbody(ng-repeat="item1 in List")
              tr(ng-repeat="item2 in item1.weather")
                
                td {{item1.clouds}}
                td {{item1.humidity}}
                td {{item2.main}}
                td {{item2.description}}
      div(col-md-4)
      div(col-md-4)
    div.row
      
      .col-md-4
        hr
        .alert.alert-warning This is deleveloped by Jayant patil &cop 2014
